body {
  background: hsl(218deg, 28%, 13%);
  margin: 0;
}
body button {
  cursor: pointer;
}
body button:hover {
  background: linear-gradient(41deg, hsla(198deg, 78%, 79%, 0.99), hsl(176deg, 68%, 64%)) !important;
}

header {
  background: hsl(217deg, 28%, 15%);
  display: flex;
  justify-content: space-between;
  padding: 20px 4%;
}
header img {
  max-width: 150px;
  margin-top: 4px;
  width: 100%;
}
header nav li {
  display: inline-block;
  padding: 0 15px;
}
header nav li a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
header nav li:hover a {
  text-decoration: underline;
  font-weight: 700;
}

#page-wrap #intro-section {
  position: relative;
}
#page-wrap #intro-section .img-section {
  text-align: center;
}
#page-wrap #intro-section .img-section .illustration-intro {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 720px;
}
#page-wrap #intro-section .data-section {
  color: hsl(0deg, 0%, 100%);
  position: relative;
  padding: 29px 3%;
  text-align: center;
}
#page-wrap #intro-section .data-section h1 {
  font-family: "Raleway", sans-serif;
}
#page-wrap #intro-section .data-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
}
#page-wrap #intro-section .data-section button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: hsl(0deg, 0%, 100%);
  padding: 15px 30px;
  background: linear-gradient(41deg, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  border: none;
  border-radius: 23px;
  margin: 15px 0 20px;
}
#page-wrap #services {
  padding: 8% 6% 5%;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
}
#page-wrap #services section {
  padding: 35px 0;
}
#page-wrap #services section h3 {
  font-family: "Raleway", sans-serif;
}
#page-wrap #services section p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
}
#page-wrap #stay-productive {
  padding: 6%;
  color: hsl(0deg, 0%, 100%);
}
#page-wrap #stay-productive > img {
  width: 100%;
  max-width: 615px;
  margin: 0 auto 50px !important;
  display: block;
}
#page-wrap #stay-productive h3 {
  font-family: "Raleway", sans-serif;
}
#page-wrap #stay-productive p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
}
#page-wrap #stay-productive p a {
  font-size: 0.8rem;
  padding-right: 7px;
  color: hsl(176deg, 68%, 64%);
  text-decoration: none;
}
#page-wrap #stay-productive p:last-child {
  display: inline-block;
  margin-top: 0;
  border-bottom: 1px solid hsl(176deg, 68%, 64%);
  padding-bottom: 4px;
  cursor: pointer;
}
#page-wrap #stay-productive p:last-child img {
  margin-bottom: -3px;
}
#page-wrap #stay-productive p:last-child:hover {
  border-color: #fff !important;
}
#page-wrap #stay-productive p:last-child:hover a {
  color: #fff !important;
}
#page-wrap #stay-productive p:last-child:hover img {
  filter: brightness(100%) saturate(0);
}
#page-wrap #testimonial > section {
  background: hsl(219deg, 30%, 18%);
  padding: 15px 25px;
  margin-bottom: 25px;
  color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
}
#page-wrap #testimonial > section img {
  max-width: 30px;
  border-radius: 100%;
  margin-top: 4px;
}
#page-wrap #testimonial > section:nth-child(2) {
  position: relative;
}
#page-wrap #testimonial p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  line-height: 1.7;
}
#page-wrap #testimonial .author {
  display: flex;
  gap: 3%;
}
#page-wrap #testimonial .author p {
  margin: 0;
  line-height: 1.6;
}
#page-wrap #testimonial .name {
  font-weight: 700;
}
#page-wrap #testimonial .position {
  font-size: 0.7rem;
}

#newsletter-wrap {
  background: linear-gradient(to bottom, hsl(218deg, 28%, 13%) 50%, hsl(216deg, 53%, 9%) 50%);
  padding: 50px 0 60px;
}
#newsletter-wrap #newsletter {
  background: hsl(217deg, 28%, 15%);
  margin: 0 auto;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  border-radius: 10px;
}
#newsletter-wrap h3 {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
}
#newsletter-wrap p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
}
#newsletter-wrap input {
  width: 100%;
  padding: 15px 30px;
  border: none;
  box-sizing: border-box;
  border-radius: 23px;
}
#newsletter-wrap input::placeholder {
  color: rgba(0, 0, 0, 0.3019607843);
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
}
#newsletter-wrap input:focus {
  outline: none;
}
#newsletter-wrap button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 15px 30px;
  border: none;
  border-radius: 23px;
  background: linear-gradient(41deg, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  color: hsl(0deg, 0%, 100%);
}
#newsletter-wrap p#error-msg {
  text-align: left;
  padding-left: 20px;
  margin: 5px 0 0;
}
#newsletter-wrap p#error-msg {
  text-align: left;
  padding-left: 20px;
  color: hsl(0deg, 100%, 63%);
  opacity: 0;
  transition: opacity 1s ease;
}
#newsletter-wrap #error-msg span.success {
  color: #72d972;
}

footer {
  background: hsl(216deg, 53%, 9%);
  padding: 2% 6% 2%;
}
footer .footer-logo img {
  max-width: 150px;
  margin-bottom: 30px;
}
footer #footer-links {
  color: hsl(0deg, 0%, 100%);
  font-family: "Open Sans", sans-serif;
}
footer #footer-links .footer-data-links .location {
  display: flex;
  gap: 4%;
}
footer #footer-links .footer-data-links .location img {
  height: 100%;
}
footer #footer-links .footer-data-links .location p {
  margin: 0;
  line-height: 1.6;
}
footer #footer-links .footer-data-links .contact {
  margin-bottom: 45px;
}
footer #footer-links .footer-data-links .contact .phone img {
  margin-right: 4%;
  width: 13px;
}
footer #footer-links .footer-data-links .contact .email img {
  margin-right: 3%;
}
footer #footer-links .footer-data-links .link1 ul, footer #footer-links .footer-data-links .links2 ul {
  padding-left: 0;
}
footer #footer-links .footer-data-links .link1 li, footer #footer-links .footer-data-links .links2 li {
  list-style: none;
  line-height: 2.5;
}
footer #footer-links .footer-data-links .link1 li:hover a, footer #footer-links .footer-data-links .links2 li:hover a {
  font-weight: 700;
}
footer #footer-links .footer-data-links .link1 a, footer #footer-links .footer-data-links .links2 a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
footer #footer-links .footer-data-links .link1 li a:hover, footer #footer-links .footer-data-links .links2 li a:hover {
  font-weight: 700;
}
footer #footer-links .footer-data-links .footer-icons i {
  width: 9px;
  height: 17px;
  color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 100%;
  padding: 5px 10px;
}
footer #footer-links .footer-data-links .footer-icons i:hover {
  filter: invert(40%) sepia(100%) saturate(192%) hue-rotate(126deg) brightness(100%) contrast(103%);
}
footer #footer-links .footer-data-links .footer-icons a {
  margin: 0 4px;
}
footer #footer-links .footer-data-links .footer-icons a:not(:first-child) i {
  padding: 5px 13px 5px 7px;
}

@media (max-width: 992px) {
  #page-wrap #intro-section {
    padding: 35px 4% 0;
    background-image: linear-gradient(to bottom, hsl(217deg, 28%, 15%), hsl(218deg, 28%, 13%));
  }
  #page-wrap #intro-section .bg-curvy-mobile {
    width: 100%;
  }
  #page-wrap #intro-section .bg-curvy-desktop {
    display: none;
  }
  #page-wrap #intro-section .img-section .bg-curvy-mobile {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 22%;
  }
  #page-wrap #intro-section .data-section h1 {
    font-size: 1.9rem;
  }
  #page-wrap #intro-section .data-section button {
    width: 40%;
  }
  #page-wrap #services section img {
    max-width: 70px;
  }
  #page-wrap #testimonial {
    padding: 12% 11%;
  }
  #page-wrap #testimonial > img {
    max-width: 25px;
    margin-bottom: -8px;
    margin-left: 7px;
  }
  #newsletter-wrap {
    margin: 15px 0 0;
  }
  #newsletter-wrap #newsletter {
    width: 70%;
    padding: 38px 25px 20px;
    margin: 15px auto 25px;
  }
  #newsletter-wrap input {
    margin: 15px 0 25px;
  }
  footer .footer-icons {
    text-align: center;
    margin-bottom: 40px;
  }
  footer .footer-data-links .link1, footer .footer-data-links .links2 {
    padding-top: 5px;
  }
  footer .footer-data-links ul {
    margin-top: 0;
  }
}
@media (max-width: 485px) {
  header > a {
    width: 35%;
  }
  header img {
    width: 90%;
  }
  header nav {
    width: 65%;
    text-align: right;
  }
  header nav ul {
    padding-left: 5px;
  }
  header nav ul li {
    padding: 0 8px;
  }
  header nav ul li a {
    font-size: 0.9rem;
  }
  footer .footer-logo img {
    width: 35% !important;
  }
}
@media (max-width: 405px) {
  .data-section button {
    width: 60% !important;
  }
}
@media (max-width: 375px) {
  header nav ul {
    margin-top: 11px;
  }
}
@media (max-width: 359px) {
  header nav ul li {
    padding: 0 6px;
  }
}
@media (min-width: 993px) {
  #page-wrap #intro-section {
    padding: 45px 4% 11%;
    background: hsl(217deg, 28%, 15%);
  }
  #page-wrap #intro-section .bg-curvy-mobile {
    display: none;
  }
  #page-wrap #intro-section .bg-curvy-desktop {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -8px;
  }
  #page-wrap #intro-section .data-section h1 {
    width: 60%;
    margin: 0 auto;
    font-size: 2.2rem;
  }
  #page-wrap #intro-section .data-section p {
    padding: 0 30%;
  }
  #page-wrap #intro-section .data-section button {
    width: 19%;
  }
  #page-wrap #services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12%;
    padding: 0 16% 5% !important;
  }
  #page-wrap #services section img {
    height: 88px;
  }
  #page-wrap #stay-productive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6%;
    color: hsl(0deg, 0%, 100%);
    column-gap: 5%;
  }
  #page-wrap #stay-productive .detail {
    padding-top: 7%;
  }
  #page-wrap #stay-productive h3 {
    font-size: 2.3rem;
    padding-right: 15%;
    line-height: 1.3;
    margin-bottom: 25px;
  }
  #page-wrap #testimonial {
    margin: 2% 11% 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    position: relative;
  }
  #page-wrap #testimonial > img {
    position: absolute;
    top: -22px;
    max-width: 35px;
    left: -5px;
  }
  #newsletter {
    width: 54%;
    padding: 38px 60px;
  }
  #newsletter form {
    display: grid;
    grid-template-columns: 60% 36%;
    column-gap: 4%;
  }
  footer .footer-data-links {
    display: grid;
    grid-template-columns: 34% 20% 12% 12% 14%;
    column-gap: 2%;
  }
  footer .footer-data-links .location img {
    max-width: 13px;
    max-height: 18px;
    margin-top: 5px;
  }
  footer .footer-data-links .phone {
    margin-top: 0;
  }
  footer .footer-data-links ul {
    margin-top: 0;
  }
  footer .footer-data-links ul li:first-child {
    margin-top: -8.5px;
  }
  footer .footer-data-links .footer-icons {
    text-align: right;
  }
  footer #footer-links {
    margin-bottom: 40px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  font-family: "Raleway", sans-serif;
}

.attribution a {
  color: hsl(176deg, 68%, 64%);
}

/*# sourceMappingURL=styles.css.map */
